@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

header {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 60px;
        position: relative;
        z-index: 2;
        font-family: "Irish Grover", system-ui;
        font-weight: 100;
        margin-top: 20px;
        margin-left: 50px;
        color: #323540;
    }

    .circle {
        width: 80px;
        height: 80px;
        background-color: #fec76f;
        border-radius: 50%;
        position: absolute;
        top: 22px;
        left: 110px;
        z-index: 1;
    }
}
