.navMain {
    background-color: #323540;
    font-family: "Open Sans", sans-serif;
  
    ul {
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 20px;
  
      li {
        list-style: none;
        position: relative;  // Tilføj position: relative for at sikre, at pilen placeres korrekt

        a {
            text-decoration: none;
            color: white;
        }
  
        &.active {
          a {
            color: #D89F5F; // Farve for det aktive link
  
            // Pil, der peger opad
            &::after {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              left: 50%;
              transform: translateX(-50%);
              top: 30px; // Flytter pilen højere op
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 15px solid #fec76f; // Pilens farve
              z-index: 10; // Sørg for, at pilen er foran andre elementer
            }
          }
        }
      }
    }
  }
  
